@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

:root {
  --background1: #283618;
  --background2: #606C38;
  --text1: #FEFAE0;
  --secondary1: #DDA15E;
  --secondary2: #BC6C25;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.smallText {
  font-size: .1in;
  font-weight: 999;
  color: var(--secondary2);
}

.newLinkFormatText {
  text-align: center;
  color: black;
  text-decoration: none;
  display: block;
  align-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.newLinkformat {
  display: block;
  margin: 0 auto;
  align-self: center;
  font-size: 1.2rem;
}

a {
  text-align: center;
  color: var(--secondary1);
  text-decoration: none;
  display: block;
  align-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

p, h1 {
  text-align: center;
  font-family: "Handjet";
  color: var(--text1);
}

body {
  background-color: var(--background1);
}